p {
    color: darkblue;
    border: black solid 5px;
    padding: 20px;
}

li {
    color: blueviolet;
}

#about-me {
    font-family: 'Courier New', Courier, monospace;
}

#things-i-like {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

.body {
    color: black;
    font-size: medium;
    font-family: Arial, sans-serif;
}

.bold {
    font-style: oblique;
    font-size: xx-large;
    border: purple solid 8px;
    padding: 10px;
}