p {
    color: rgb(201, 27, 27);
    border: black solid 5px;
    padding: 20px;
}

li {
    color: rgb(42, 110, 182);
}

#about-me {
    font-family: 'Courier New', Courier, monospace;
}

#things-i-like {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}

.body {
    color: darkgreen;
    font-size: medium;
    font-family: Arial, sans-serif;
}